.dashboard-container {
  background: gray;
  margin: 40px 40px 0 40px;
}

.booking-container {
  background: green;
  margin: 10px 10px 0 10px;
}

.instrument-container {
  background: blue;
  margin: 0 10px 10px 10px;
}
