
.landing-container {
  padding: $spacer-y ($spacer-x/2);
  background-image: linear-gradient(to top left, rgba(0, 0, 255, 0.08), rgb(15, 0, 31)),image_url("concert.jpg");
  background-size:cover;
  height:100vh;
  h1 {
    font-family: 'Monoton', sans-serif;
    font-size:6em;
  }
  input {
    width:50vw;
    height:40px;
    padding-left: 10px;
  }

  form {
    display: flex;
  }

  h2 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size:1em;
}

a {
  text-decoration:none;
  color:white;
  padding: 5px;
}


#firsthalf {
  color:#e88053;

}

#secondhalf {
  color:#b707a4;

}

.search-form {
  display:flex;
  flex-align:baseline;
}

#item-select {
  width: 30vw;
}

#item-select {
  margin: 0 10px;
}


}


#main-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border:solid 1px white;
  width:10vw;
  border-radius:3px;
  margin-left:1vw;
  a:hover {
    color: #d8dddf;
    text-decoration:none;
  }
}


