<div class="card" id="smaller-card">
  <%= link_to instrument_path(instrument) do %>
    <%= cl_image_tag instrument.photo %>
      <div class="card-description">
          <h3><%= instrument.name %></h3>
        </div>
        <div class="card-price">
          <p><%= instrument.price %> €</p>
        </div>
    </div>
  <% end %>
</div>
