<div class="hp-container">
  <div class="landing-container">
    <h1><span id="firsthalf">Instru</span><span id="secondhalf">Rent</span></h1>
<!--       <h1>Book Your Instrument </h1>
 -->      <h3>Top quality instruments for rent, made affordable. </h3>
          <h5>Where are you looking for an instrument?</h5>
      <div class="search-form">
      <form action="/instruments" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="text" name="address" id="query" class="search-form" placeholder="Berlin" />
        <div id="main-search">
          <input type="submit" name="commit" value="Search" data-disable-with="Search" />
        </div>
      </form>
    </div>
  </div>

<div class="how-it-works-container">
  <h2 class="text-center"> How It Works </h2>
      <div class="cards-howitworks">
       <div class="card-howitworks">
        <img src="https://image.flaticon.com/icons/svg/182/182336.svg" alt="">
        <div>
          <h3>1. Enter Your City</h3>
          <p>Enter your city to find instruments near you</p>
        </div>
       </div>

        <div class="card-howitworks">
          <div>
             <img src="https://cdn3.iconfinder.com/data/icons/summer-holiday-10/64/Summer-23-512.png" alt="">
            <h3>2. Choose the Instrument You Like</h3>
            <p>Select from hundreds of high quality musical instruments</p>
          </div>
        </div>

        <div class="card-howitworks">
        <div>
        <img src=https://image.flaticon.com/icons/svg/1244/1244363.svg alt="">
          <h3>3. Book Your Instrument!</h3>
          <p>Send a request to the lender. Enjoy playing!</p>
        </div>
      </div>
</div>

 <div class="testimonials-container">
  <div class="testimonial-image">
  <img src="https://images.unsplash.com/photo-1523469790366-9429dfc437bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
  </div>
    <div class="testimonial-copy">
     <p> "I always wanted to try out playing a guitar! I could easily rent one at low cost and high quality and start
     learning without a big investment!</p>
     <h5> Mark, Berlin </h5>
    </div>
  </div>

<div class="benefits-container">
  <h2 class="text-center"> Why InstruRent?</h2>
   <div class="cards-benefits">
       <div class="card-benefits">
          <img src="https://image.flaticon.com/icons/svg/584/584093.svg" alt="">
        <div>
          <h3>Save Money</h3>
          <p>Learn to play an instrument without a big investment.</p>
        </div>
       </div>

        <div class="card-benefits">
          <div>
             <img src="https://image.flaticon.com/icons/svg/599/599956.svg" alt="">
            <h3> Make Your Event Memorable</h3>
            <p>No need to buy an expensive vinyl for a one time party or wedding!</p>
          </div>
        </div>

        <div class="card-benefits">
        <img src="https://image.flaticon.com/icons/svg/1611/1611179.svg" alt="">
        <div>
          <br>
          <h3>Earn Money</h3>
          <br>
          <p>Make extra money by writing out your belongings!</p>
        </div>
      </div>
   </div>
</div>

 <div class="footer">
      <p>Made with ♥️ at Le Wagon </p>
</div>
</div>

