<h1>Our landing page</h1>
<p>Search for instruments based on your location</p>

<form action="">
  <input type="text">
</form>

Why should you use our product ?

(advertising images)

<%= link_to "Search", instruments_path %>


