<div class="landing-container">
  <h1><span id="firsthalf">Instru</span><span id="secondhalf">Rent</span></h1>
 <div class="d-flex">
    <h2>Where are you located ?</h2>
   <h2>And what are you looking for ?</h2>
 </div>
<div class="search-form">
  <%= form_tag instruments_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-form",
    placeholder: "Find an instrument"
  %>
  <div id="main-search"><%= submit_tag "Search" %></div>
<% end %>
 </div>
</div>
