<div class="landing-container">
  <h1><span id="firsthalf">Instru</span><span id="secondhalf">Rent</span></h1>
 <div class="d-flex">
    <h2>Where are you located ?</h2>
 </div>
 <div class="search-form">
  <form action="/instruments" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <input type="text" name="address" id="query" class="search-form" placeholder="Find an instrument" />
  <div id="main-search"><input type="submit" name="commit" value="Search" data-disable-with="Search" /></div>
</form> </div>
</div>
</div>
