<div class="landing-container">
  <h1><span id="firsthalf">Instru</span><span id="secondhalf">Rent</span></h1>
  <p>Rent instruments from people nearby</p>

<div class="search-form">
  <form action="">
    <input type="text">
  </form>
   <%= link_to "Search", instruments_path, id: "main-search" %>
 </div>
</div>
