<div class="landing-container">
  <h1><span id="firsthalf">Instru</span><span id="secondhalf">Rent</span></h1>
 <div class="d-flex">
    <h2>Where are you located ?</h2>
   <h2>And what are you looking for ?</h2>
 </div>

<div class="search-form">
  <form action="">
    <input type="text", placeholder="Berlin...">
    <select name="item" id="item-select"></select>
  </form>
   <div id="main-search"><%= link_to "Search", instruments_path %></div>
 </div>
</div>
