.button-orange {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #F36240;
  transition: background 0.3s ease;
}

.button-orange:hover {
  background: #e87c64;
  color: white;
}

.update-button {
  background-color: #F3633F;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  max-width: 300px;

}
