.button-orange {
  #edit-user-button {
      width:200px;
      color: white;
    }
    background-color: #ed6d3a ;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 0;
  }

  .button-orange:hover {
     background-color: #fe794575;
     color:white;

  }

.update-button {
  background-color: #F3633F;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  max-width: 300px;

}
