.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  flex-grow: 1;
  padding: 10px;
}

.card {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card-info {
  padding: 10px;
}

.card-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-info p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
