.button {
  background-color: #2eab9e;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
   background-color: #188f82;
   color:white;
}

.form-inputs {
   padding: 20px 180px;
}

.form-actions {
   padding: 20px 180px;
}

.container{
   background-color:white;
}

.container h1{
   padding-left:180px;
}

.back{
   padding-left:180px;
}
