.crud-form {
  .form-inputs{
     .form-control-label {
      color:black;
     }
    }
  .form-actions{
  display:flex;
  justify-content:center;
  }
}

.form-container {
  padding: 0 $spacer-x*2;
  .form-headline {
    display: flex;
    justify-content:center;
  }
  input, textarea, select {
        min-width: 300px;
      }

   h1{
     margin: $spacer-y 0 10px 0;
     text-align:center;
     font-size:5vw;
  }

  .back{

     }

  .back a {
    color: grey;
  }
}


