.crud-form {
  .button {
    background-color: #F3633F;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .button:hover {
     background-color: #F03C0F;
     color:white;
  }

  .form-inputs{
     padding-left:250px;
     padding-right:250px;
     .form-control-label {
      color:black;
     }
    }

  .form-actions{
     padding-left:250px;
     padding-right:250px;
  }
}

.container {
   h1{
     padding-left:250px;
     padding-right:250px;
     margin-top:60px;
  }

  .back{
     padding-left:250px;
     }
  }

