.navbar-lewagon {
  justify-content: space-between;
  background: #0e0821;
  height: 80px;
  width:100%

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#nav-link {
   color: white;
   text-decoration:none;
   margin: 0 10px;
    &:hover {
      color:#ed6d3a;
    }
    &:active {
      color:#ed6d3a;
    }
}

.avatar {
 margin: 0 ($spacer-x/2);
}

li.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
