.filters {
display:flex;
justify-content:space-around;

form {
  display:flex;
  margin:5vh;
  padding: 0 15px;
}

input {
  border-radius: 3px;
}

}
.form-input {
  width:200px;

}

#submit-search {

}

