
<html>
  <body>
    <div class="container">
    <h1><b>Edit Your Instrument</b></h1>
    <%= render "shared/form" %>
    <br>
     <div id="back">
    <%= link_to "Back", instruments_path %>
    </div>
    </div>
   </body>
</html>
