<html>
  <body style="background-color:white">
    <div class="container">
    <h1>Edit Your Instrument</h1>
    <%= render "form" %>
    <br>
     <div class="back">
    <%= link_to "Back", instruments_path, style: 'color:#008489' %>
    </div>
    </div>
   </body>
</html>
