<html>
  <body style="background-color:white">
      <div class="container" id="new-form">
        <h1><b>Add a New Instrument</b></h1>
        <%= render "shared/form" %>
        <br>
        <div class="back">
        <%= link_to "Back", instruments_path, class: "back" %>
      </div>
      </div>
    </body>
  </html>

