<html>
  <body style="background-color:white">
      <div class="container">
        <h1><b>Add a New Instrument</b></h1>
        <%= render "form" %>
        <br>
        <div class="back">
        <%= link_to "Back", instruments_path, style: 'color: #787878' %>
      </div>
      </div>
    </body>
  </html>

