<html>
  <body>
      <div class="form-container">
        <div class="form-headline">
          <h1>List your instrument</h1>
        </div>
        <%= render "shared/form" %>
        <br>
        <div class="back">
        <%= link_to "Back", instruments_path %>
      </div>
      </div>
    </body>
  </html>
