<html>
  <body>
      <div class="container">
        <h1><b>Add a New Instrument</b></h1>
        <%= render "shared/form" %>
        <br>
        <div class="back">
        <%= link_to "Back", instruments_path %>
      </div>
      </div>
    </body>
  </html>
