<div class="container-listing">
  <div class="row listing-content">
    <!-- Details box -->
    <div class="listing col-md-8">
      <div class="listing-title">
        <h3><strong><%= @instrument.name %></strong></h3>
        <p><%= @instrument.description %></p>
      </div><br>

      <div class="listing-details">
        <div class="row-content">
          <div class="col-xs-3">
            <p><strong>Highlights</strong></p>
          </div>

          <div class="col-xs-9">
              <%= @instrument.description %>
          </div>
        </div>
        <br><br>
      </div>

    <br><br><br>
  </div>

</div>
